<div class="popup">
  <h2 class="text-center" mat-dialog-title>Add a vehicle to your garage</h2>
  <mat-dialog-content class="mat-typography" [formGroup]="UserVehicleForm" (ngSubmit)="submit()">
      <mat-form-field>
          <input matInput placeholder="Year" formControlName="year"/>
          <mat-error *ngIf="year?.errors?.['required']">
              Year is required
            </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Make" formControlName="make"/>
          <mat-error *ngIf="make?.errors?.['required']">
              Make is required
            </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Model" formControlName="model"/>
          <mat-error *ngIf="model?.errors?.['required']">
              Model is required
            </mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="Color" formControlName="color"/>
          <mat-error *ngIf="color?.errors?.['required']">
              Color is required
            </mat-error>
      </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Add</button>
  </mat-dialog-actions>
</div>