<!-- Authentication statements have been removed for isolation purposes-->

<div class = "container">
    <div class = "chat-list mat-elevation-z5">
        <div class = "search-input"></div>
        Search
    </div>

    <div class = "messages mat-elevation-z5">
        <div class="messages-header"></div>
        Create

        <div class="messages-header">Messages</div>
   
    <mat-divider></mat-divider>
    <div class="chat-area">
        <div #endOfChat>EndofChat</div>
        
        
    <div class="input-area">
                <mat-icon>send</mat-icon>
    </div>
</div>
</div>