.container {
    display: flex;
    height : calc(100vh - 70px);
}

.chat-list{
    width: 40%;
    margin : 16px;
    background : #dadadb;
    border-radius: 16px;
}

.messages{
    width: 60%;
    margin: 16px;
    border-radius: 16px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.05);
}

.search-input{
    margin: 24px;
}

.chat-title{
    display:flex !important;
    justify-content: space-between;
}

.chat-name{
    font-weight: 500;
}

.chat-date{
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.messages-header{  
    display: flex;
    margin-bottom: 8px;
}

.messages-header > img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    height: 35px;
}

.messages-header > h2 {
    margin: 0;
}

.chat-area{
    height: calc(100vh - 270px);
    background: wheat;
}

.input-area > mat-form-field{
    width: 100%
}


.input-area{
    padding-top: 16px;
    padding-bottom: 8px;
}