
<br><br>
<section class="hero is-large is-info">
    <div class="hero-body">
        <div class="container has-text-centered">
    <!-- Placeholder for an image of the team here - Anthony -->
      <p class="title">
        Meet the Team
      </p>
      <p class="subtitle">
        The people behind it.
    </p>
      </div>
    </div>
  </section>
  
  <!-- More information about the website, below is just filler to have a mock-up of what we want it to look like and function. - Anthony -->
  <section class="section">
      <div class="container has-text-centered">
        <p class="subtitle">
          Read a little more about the team down below! <!-- All text is subject to change at the discretion of the group, just wanted to get some stuff so it looks presentable to an extent. - Anthony -->
        </p>
      </div>
  </section>

  <!-- Use Bulma's Building Blocks to think how to build how you want the webpage to look. -->
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
      <img src="https://bulma.io/images/placeholders/256x256.png">

      <!-- Text holder for the pictures as well - Anthony -->
      <div class="column">
        <span class="title">Anthony Quinteros</span> <!-- Maybe tweak the size of the text a bit? - Anthony -->
        <br>
        <span class="subtitle">Anthony Quinteros is a senior at Wayne State University.</span>
        </div>
      </div>
    </div>
</section>

<section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
      <img src="https://bulma.io/images/placeholders/256x256.png">

      <!-- Text holder for the pictures as well - Anthony -->
      <div class="column">
        <span class="title">Joseph Brooks</span> <!-- Maybe tweak the size of the text a bit? - Anthony -->
        <br>
        <span class="subtitle">Joseph Brooks is a senior at Wayne State University.</span>
        </div>
      </div>
    </div>
</section>

<section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
      <img src="https://bulma.io/images/placeholders/256x256.png">

      <!-- Text holder for the pictures as well - Anthony -->
      <div class="column">
        <span class="title">Jim Uc</span> <!-- Maybe tweak the size of the text a bit? - Anthony -->
        <br>
        <span class="subtitle">Jim Uc is a senior at Wayne State University.</span>
        </div>
      </div>
    </div>
</section>

<section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
      <img src="https://bulma.io/images/placeholders/256x256.png">

      <!-- Text holder for the pictures as well - Anthony -->
      <div class="column">
        <span class="title">Kam</span> <!-- Maybe tweak the size of the text a bit? - Anthony -->
        <br>
        <span class="subtitle">Kam is a senior at Wayne State University.</span>
        </div>
      </div>
    </div>
</section>

<section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered is-vcentered">
      <img src="https://bulma.io/images/placeholders/256x256.png">

      <!-- Text holder for the pictures as well - Anthony -->
      <div class="column">
        <span class="title">Alexandru Vlad</span> <!-- Maybe tweak the size of the text a bit? - Anthony -->
        <br>
        <span class="subtitle">Alexandru Vlad is a PHD student at Wayne State University.</span>
        </div>
      </div>
    </div>
</section>