
<br><br>
<!-- More information about the website, below is just filler to have a mock-up of what we want it to look like and function. - Anthony -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="subtitle">
      Repair Options
    </h1>
  </div>
</section>

<!-- Keep track of div tags and make sure to not mix and match Bulma and Angular classes, please! - Anthony -->
<!-- Columns of the different kinds of work that you can have done on your vehicle listed below. - Anthony -->
<!-- Someone can make it look prettier later, I'm just getting things situated for the most part. - Anthony -->

<!-- The figure class lines will be replaced with a basic picture template of hypothetical prices-->
<br>
<div class="columns is-mobile is-gapless is-vcentered has-text-centered">
  <div class="box column is-size-6 is-family-monospace mx-6">
    <br>Suspension<br><br>
    <figure class="image is-3by5"><img src="/assets/images/998281.png" alt="Suspension"></figure>
  </div>
  <div class="box column is-size-6 is-family-monospace mx-6">
    <br>Engine Light and Diagnostic<br><br>
    <figure class="image is-3by5"><img src="/assets/images/check-engine-light-icon-1616189100.jpg" alt="Engine Light and Diagnostic"></figure>
  </div>
  <div class="box column is-size-6 is-family-monospace mx-6">
    <br>Cooling system<br><br>
    <figure class="image is-3by5"><img src="/assets/images/47756432471_ed2a0bfa48_m.jpg" alt="Cooling system"></figure>
  </div>
  <div class="box column is-size-6 is-family-monospace mx-6">
    <br>Brake System<br><br>
    <figure class="image is-3by5"><img src="/assets/images/brake-warning-light.jpg" alt="Brake System">
    </figure>
  </div>
  <div class="box column is-size-6 is-family-monospace mx-6">
    <br>Tune Up and Oil change<br><br>
    <figure class="image is-3by5"><img src="/assets/images/engine-oil-light-300x300.jpg" alt="Tune Up and Oil change">
    </figure>
  </div>
</div>
