<div class="form-container mat-elevation-z5">
  <h1>form container</h1>
  
  <input matInput placeholder="Email address" formControlName="email" />
  <h1>email</h1>

  <input matInput type="password" placeholder="Password" formControlName="password" />
  <h1>password</h1>

  <div class="center margin-top">
    <button type="submit" mat-raised-button color="primary">
      Login
    </button>
  </div>

  <span class="center margin-top">New to Go Mechanic? <a class = "sign-up-link">Register</a></span>
</div>