<div class="form-container mat-elevation-z5">
  <mat-icon style="margin-left: 13rem; margin-top: -5rem;" mat-dialog-close> close</mat-icon>
  <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-dialog-content class="mat-typography" style="background-color: #eceff100">

          <!--Email-->
          <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
              Email address is required!
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <!--Password-->
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" />
            <mat-error *ngIf="password?.errors?.['required']">
              Password is required
            </mat-error>
          </mat-form-field>

          <!--Submit-->
          <div class="center margin-top">
              <button type="submit" mat-raised-button color="primary">
                Login
              </button>        
          </div>

          <span class="center margin-top">New to Go Mechanic? <a class = "sign-up-link" (click)="signup()"> Register</a></span>
        </mat-dialog-content>
      </form>
</div>