<!-- Nav-bar set up, subject to change as development progresses along -->

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href=""> <!-- href tag to redirect when ever the logo is clicked on. -->
        <img src="" width="112" height="28"> <!-- insert our logo here with those dimensions for the image under shared models -->
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          Home
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/about">
              About
            </a>

            <a class="navbar-item" routerLink="/contact-us">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" routerLink="/report-issue">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" routerLink="/login">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>