<br><br>
<div class="policy-box policy-box--spaced policy-box--floating">
    <h1 id="privacy"><u>Privacy Policy</u></h1><br><br>

    <p>This <a target="_blank" href="/privacypolicy">Privacy Policy</a> describes how Go-Mechanic and its affiliates will gather, use, and 
        maintain your Personal Information on the Go-Mechanic Platform. It will also explain 
        your legal rights with respect to that information.
        <br><br>
        By using the Go-Mechanic Platform, you confirm that you have read and understand this 
        <a target="_blank" href="/privacypolicy">Privacy Policy</a>, and our <a target="_blank" href="/terms">Terms of Service</a> 
        (together referred to herein as the “Agreement”). The Agreement governs the use of the Go-Mechanic Platform. Go-Mechanic will collect, use, 
        and maintain information consistent with the Agreement.
    </p>

<!----------------------------------------------------------------GENERAL TERMS------------------------------------------------------------------------------->

    <br>
    <h2>General Terms</h2>
    <p>
        In this Privacy Policy, Go-Mechanic: 
    </p>
     <ul>
        <li>&#x2022; maybe be referred to as <b>"Go-Mechanic", "we", "ours", or "us"</b>.</li><br>
        <li>&#x2022; may call a user of Go-Mechanic platform as; <b>"user", "users", "client", "customer", "mechanic", "you", or "your"</b> as appropriate.</li><br>
        <li>&#x2022; sites, apps, and related services, information, and communication are referred to as <b>"Go-Mechanic Platform"</b>.</li><br>
        <li>&#x2022; <a target="_blank" href="/privacypolicy">Privacy Policy</a> is considered to be part of the <a target="_blank" href="/terms">Terms of Service</a>, 
            failure to agree with our <a target="_blank" href="/privacypolicy">Privacy Policy</a> and our <a target="_blank" href="/terms">Terms of Service</a> 
            will result in a denial of service.</li><br>
    </ul>

<!---------------------------------------------------------------INFORMATION COLLECTION------------------------------------------------------------------------->

    <br>
    <h2>Information Collection</h2>
    <p>
        Go-Mechanic collects certain personally identifiable information about you, including information that can identify, 
        relate to, describe, be associated with you, or is reasonably capable of being associated with your (“Personal Information”). 
        Examples of Personal Information that Go-Mechanic collects include but are not limited to:
    </p>
    <ul>
        <li>&#x2022; <b>Contact information.</b> This may include your first name and last name, address, phone number, and email address.</li><br>
        <li>&#x2022; <b>Billing data.</b> This includes your payment method (such as credit or debit card number), expiration date, and security code.</li><br>
        <li>&#x2022; <b>Vehicle information.</b> This may include the year, make, and model of your vehicle.</li><br>
    </ul>

<!-------------------------------------------------------USE OF INFORMATION--------------------------------------------------------------------------------->

    <br>
    <h2>Use of Information</h2>
    <p>We collect and use information for business and commercial purposes in accordance with the practices described in this 
        <a target="_blank" href="/privacypolicy">Privacy Policy</a>. Our business purposes for collecting and using information include:
    </p>
    <ul>
        <li>&#x2022; To operate and make available the Go-Mechanic Platform. We use your data to connect you with other users to enable the 
            posting of, selection for, completion of, and payment for repairs, in order to fulfill our contracts with mechanics.</li><br>
        <li>&#x2022; For billing and fraud prevention, on the basis of our legitimate interests in ensuring a safe and secure environment in 
            which clients and mechanics can meet and conduct business, and in order to comply with our legal obligations. </li><br>
        <li>&#x2022; To conduct identification and criminal background checks, if applicable and to the extent permitted by local law, on clients
            and mechanics, in order to advance our legitimate interests as well as for the substantial public interest of ensuring the safety of 
            our clients and mechanics both online and offline, preventing or detecting unlawful acts, protecting the public against dishonesty, 
            and maintaining the integrity of the Go-Mechanic Platform given that mechanics often interact directly with the clients and may enter 
            their homes.</li><br>
        <li>&#x2022; To valid the mechanics certification is up to standard according to the state the mechanic resides in. </li><br>
        <li>&#x2022; To contact you and deliver (via email, SMS, or mail) transactional information, administrative notices, marketing notifications, 
            offers and communications relevant to your use of the Go-Mechanic Platform, with your consent when required under applicable law, 
            as necessary for our legitimate interests in proper communication and engagement with our users, and in promoting our business;</li><br>
        <li>&#x2022; To provide you with customer support in order to fulfill our contracts with users.</li><br>
        <li>&#x2022; For troubleshooting problems for our legitimate interests in ensuring a safe and secure environment in which users can meet.</li><br>
        <li>&#x2022; To assist users in the resolution of complaints and disputes between them, as necessary for our legitimate interests in 
            facilitating good relations among users.</li><br>
        <li>&#x2022; To enforce our <a target="_blank" href="/terms">Terms of Service</a> and our legitimate interests in ensuring our agreement is complied with.</li><br>
    </ul>
    <p>
        <b>Interest-Based Advertising.</b> Ads are a standard part of user experience on the Internet, and Go-Mechanic believes that targeted advertising 
        enhances this experience. Go-Mechanic and affiliate third parties may use cookies and other technologies to place ads where they believe interested 
        users will see them. In addition to banner ads, Go-Mechanic may advertise products, companies and events that we think might interest you through 
        the email address and/or phone number you provide. <br><br>
        <b>Call recordings.</b> Calls to or from Go-Mechanic or its Third-Party Agents may be monitored and recorded for the purposes of quality control and 
        training. Such calls may contain Personal Information.
    </p>

<!--------------------------------------------------------------SECURITY--------------------------------------------------------------------------------->

    <br>
    <h2>Security</h2>
    <p>
        Go-Mechanic has implemented administrative, organizational, technical, and physical security controls that are designed to safeguard Personal Information. 
        However, no online activity is ever fully secure or error-free. While we strive to protect your information, we cannot guarantee that your Personal Information 
        is absolutely secure. Please keep this in mind when disclosing any information to DoorDash. <br><br>
        
        Please recognize that protecting your Personal Information is also your responsibility. We urge you to take every precaution to protect your information when 
        you are on the Internet, or when you communicate with us and with others through the Internet. Change your passwords often, use a combination of letters and numbers, 
        and make sure you use a secure browser. If you have reason to believe that your interaction with us is no longer secure 
        (for example, if you feel that the security of your account might have been compromised), or if you suspect someone else is using your account, 
        please let us know immediately by contacting us as indicated in the Contact Us section below. <br><br>
    </p>

<!--------------------------------------------------------------INFORMATION SHARING------------------------------------------------------------------------------>
    
    <br>
    <h2>Information Sharing</h2>
    <p>
        We only share the Information we collect about you as described in this <a target="_blank" href="/privacypolicy">Privacy Policy</a> or as described at the time of collection or sharing, 
        including as follows: <br><br>

        <b>Third Party Agents.</b> We share information, including Identity Information, with entities that process information on our behalf for our business purposes. 
        We contractually prohibit our Third-Party Agents from retaining, using, or disclosing information about you for any purposes other than performing the services 
        for us, although we may permit them to use information that does not identify you (including information that has been aggregated or de-identified) 
        for any purpose except as prohibited by applicable law. <br><br>

        To operate the Go-Mechanic Platform, including processing your transactions, we may share your Personal Information with our agents, representatives, 
        vendors and service providers (“Third Party Agents”) so they can provide us with support services as follows:<br>
    </p>
    <ul>
        <li>&#x2022; Email origination</li><br>
        <li>&#x2022; Identity checks and criminal background checks.</li><br>
        <li>&#x2022; Fraud prevention and detection. Our fraud detection providers also use information relating to you and your use of and activity on the 
            Go-Mechanic Platform to provide fraud detection services to their other clients.</li><br>
        <li>&#x2022; Receipt, invoice, or support services</li><br>
        <li>&#x2022; Data analytics.</li><br>
        <li>&#x2022;Technical support.</li><br>
    </ul>

<!--------------------------------------------------------------INFORMATION SHARING------------------------------------------------------------------------------>
    
    <br>
    <h2>Information Retention Policy</h2>
    <p>We retain personal data for as long as you are a user in order to meet our contractual obligations to you. We may also retain data from which you cannot 
        directly be identified, for example where stored within our database with a randomly-generated token identifier so we know the data relates to a single user, 
        but we cannot tell who that user is. We use this kind of data for research purposes and to help us develop and improve our services, and we take 
        appropriate measures to ensure you cannot be re-identified from this data.</p><br>

<!--------------------------------------------------------------POLICY CHANGES------------------------------------------------------------------------------>
    <br>
    <h2>Policy Changes</h2>
    <p>Go-Mechanic <a target="_blank" href="/privacypolicy">Privacy Policy</a> is periodically reviewed and enhanced as necessary. 
        This <a target="_blank" href="/privacypolicy">Privacy Policy</a> might change as we update and expand the Go-Mechanic Platform. 
        Go-Mechanic will notify you of any material changes by email. We also encourages you to review this <a target="_blank" href="/privacypolicy">Privacy Policy</a> periodically.</p><br>

<!-------------------------------------------------------------------CONTACT US-------------------------------------------------------------------------------->
    <br>
    <h2>Contact Us</h2>
    <p>If you have any questions about this <a target="_blank" href="/privacypolicy">Privacy Policy</a> or the manner in which we or our Third-Party Agents treat your Personal Information, 
         your dealings with the Go-Mechanic Platform, or if you have technical problems, you may <a target="_blank" href="contact-us">contact us</a>.<br><br>

        Go-Mechanic staff will respond to all mail or email from users with questions about privacy, including the types of Personal Information stored on the 
        Go-Mechanic databases, and requests to know, delete or rectify such Personal Information.</p>
</div>