
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
    <!-- Figure out how to call user's display names and display as well as their profile picture if uploaded. - Anthony -->

    <h4 class="name">John Doe</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <span>Account Management</span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main Content
        </div>
    </mat-sidenav-content>
 
</mat-sidenav-container>
