/* mat-sidenav spans the entire background left side of the menu on the My Account page - Anthony */

mat-sidenav {
    margin: 16px;
    width: 210px;
    border-right: none;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
    
}

/* .content{
    height: (100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    color: lightgrey;

    border-radius: 10px;

    overflow: auto;
} */

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    
}

mat-icon{
    margin-right: 8px;
}

.name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    width: 200px;
    top: 0;
    bottom: 0;
    padding: 30px;
}
  
  /* .content {
    display: inline-block;
  } */

.menu-content {
    display: none;
    }

    .is-active {
        display: block;
}

