
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
    <!-- Figure out how to call user's display names and display as well as their profile picture if uploaded. - Anthony -->

    <h4 class="name">Display Name</h4>
    <p class="designation">Customer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
        <span>Profile Overview</span>
    </button>
    <button mat-button class="menu-button">
        <span>Account Management</span>
    </button>
    <button mat-button class="menu-button">
        <span></span>
    </button>
    <button mat-button class="menu-button">
        <span>My Cars</span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main Content
        </div>
    </mat-sidenav-content>
 
</mat-sidenav-container>
