<div class="content">
    <h1>Automotive maintenance from the comfort of your home!</h1>
    <p>Hire a mobile mechanic for an oil change, tire rotations and more!</p>
    <h3>Schedule an oil change today!</h3>

    <div class = "imagecontent">

        <div class="field">
          <div class="control">
            <input class="input" type="zipcode" placeholder="zipcode">
        </div>
        <div class="buttons">
            <button class="button is-primary is-danger">submit</button> <!--UPON VALID ZIP, redirect to vehicle selection page, register user-->
          </div>
          <figure>
            <img src="https://bulma.io/images/placeholders/256x256.png">
            <img src="https://bulma.io/images/placeholders/256x256.png">
            <img src="https://bulma.io/images/placeholders/256x256.png">
            <figcaption>
                Implement: Google maps api
              </figcaption>
            </figure>
        </div>
        </div>
    
    <h5>Oil change pricing</h5>
    <span>&#42; Oil change pricing varies per vehicle</span><p></p>
    <p>Car | estimate | labor </p>
    <h6>What is an oil change?</h6>
    <p>A commonly serviced fluid in the engine, our mechanics standard routine includes a 4 point inspection and washer fluid</p>
    <h5>Brake Service</h5>
    <span>&#42; Brake service pricing varies per vehicle</span><p></p>
    <p>Car | estimate | labor </p>
    <h6>What is a brake service?</h6>
    <p>A brake service typically includes rotor and pad replacement.</p>
