<html>
<div class="container">
    <div class="columns">
        <div class="column is-3 ">
    
                <p class="menu-label">
                    Settings
                </p>
                <ul class="menu-list">
                    <li><a class = "is-active"> Personal settings</a></li>
                    <li>
                        <a>Manage Your account</a>
                        <ul>
                            <li><a>Payment method</a></li>
                            <li><a>Reset password</a></li>
                            <li><a>Referall system</a></li>
                        </ul>
                    </li>
                    <li><a>Authentication</a></li>
                    <li><a>Previous Payments</a></li>
                </ul>
                <p class="menu-label">
                    My cars
                </p>
                <ul class="menu-list">
                    <li><a>2016 Jeep Grand Cherokee</a></li>
                    <li><a>2020 Ford Explorer </a></li>
                    <button class="button is-small is-link is-outlined">Add a car</button>
                </ul>
        </div>
        <div class="column is-9">
            <section class="hero is-link welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Hello, Go-Mechanic User.
                        </h1>
                        <h4 class="subtitle">
                            Last login: ...
                        </h4>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">0</p>
                            <p class="subtitle">Scheduled Repairs</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">0</p>
                            <p class="subtitle">Reviews</p>
                        </article>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                List of repairs
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td>Oil Change</td>
                                            <td class="level-right"><a class="button is-small is-light" href="#">Select</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item">View All</a>
                        </footer>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Find a Mechanic
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-medium" type="text" placeholder="search by brand or name!">
                                    <span class="icon is-medium is-left">
                  <i class="fa fa-search"></i>
                </span>
                                    <span class="icon is-medium is-right">
                  <i class="fa fa-check"></i>
                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script async type="text/javascript" src="../js/bulma.js"></script>
</html>