<div class="container">
    <div class="columns">
        <div class="column is-3 ">
    
                <p class="menu-label">
                    Settings
                </p>
                <ul class="menu-list">
                    <li><a class = "is-active"> Personal settings</a></li>
                    <li>
                        <a>Manage Your Account</a>
                        <ul>
                            <li><a>Edit Your Information</a></li>
                            <li><a>Payment method</a></li>
                            <li><a>Reset password</a></li>
                            <li><a>Referall system</a></li>
                        </ul>
                    </li>
                    <li><a>Authentication</a></li>
                    <li><a>Previous Payments</a></li>
                </ul>
                <p class="menu-label">
                    My cars
                </p>
                <ul class="menu-list">
                    <button class="button is-small is-link is-outlined">Add a car</button>
                </ul>
            </div>
        </div>
</div>