<!-- Contact Us Page (Subject to Change) -->

<br><br><br>
<!-- Add Error Checks in Core folder, just getting some basic pages setup for routing - Anthony -->
<form>

    <!-- Name -->
    <div class="field">
        <label class="label">Name</label>
        <input type="text" name="name" class="input">
    </div>

    <!-- Email -->
    <div class="field">
        <label class="label">Email</label>
        <input type="email" name="email" class="input">
    </div>

    <!-- Maybe add a drop-down box to ask if its to notify us of an issue or just possible feedback here? -->

    <!-- Message -->
    <div class="field">
        <label class="label">Your Message</label>
        <textarea name="message" class="textarea"></textarea>
    </div>
    
    <!-- Send Button -->
    <button type="submit" class="button is-large is-warning">Send</button>

</form>