
<div class="terms-box terms-box--spaced terms-box--floating">
    <h1 id="privacy"><u>Terms of Service</u></h1><br><br>

    <p> Please read the terms and conditions carefully. The terms and conditions are a legally binded agreement between you and Go-Mechanic Platform. Go-Mechanic includes but not limited
        to our website, mobile app, and any related services.

        <br><br>
        By using the Go-Mechanic Platform, you confirm that you have read and understand this 
        <a target="_blank" href="/privacypolicy">Privacy Policy</a>, and our <a target="_blank" href="/terms">Terms of Service</a> 
        (together referred to herein as the “Agreement”). The Agreement governs the use of the Go-Mechanic Platform. Go-Mechanic will collect, use, 
        and maintain information consistent with the Agreement.

        <br><br>
        Your use of the Go-Mechanic Platform in a country other than the country in which you register constitutes your acceptance of and agreement to all of the terms and 
        conditions in the Agreement for that country.

        <br><br>
        <a target="_blank" href="/terms">Terms of Service</a> for Go-Mechanic include: <br>
    </p>
    <ul>
        <li>&#x2022; You must be at least the legally required age in the jurisdiction in which you reside (18 years old for U.S. based users), and otherwise capable 
            of entering into binding contracts, in order to use or access the Go-Mechanic Platform).</li><br>
        <li>&#x2022; Your agreement that Go-Mechanic provides no warranty and has no liability regarding user action on the Go-Mechanic Platform or the performance of repair.</li><br>
        <li>&#x2022; As a mechanic you must be a certified mechanic within your state of residents and the state you are performing the service in.</li><br>
        <li>&#x2022; Your acknowledgement and agreement that Go-Mechanic does not supervise, scope, direct, control, or monitor a mechanic's work and the repair being performed.</li><br>
        <li>&#x2022; Your acknowledgement and agreement that clients are solely responsible for determining if the mechanic you are hiring is qualified to perform the repair.</li><br>
        <li>&#x2022; Your acknowledgement and agreement that mechanic are independent contractors of clients and not employees, independent contractors or service providers 
            of Go-Mechanic.</li><br>
    </ul>

<!----------------------------------------------------------------MECHANIC BACKGROUND------------------------------------------------------------------------------->

    <br>
    <h2>Mechanic Background Check</h2>
    <p>
        Mechanics may be subject to a review process before they can register for and during their use of the Go-Mechanic Platform, which may include but is not 
        limited to identity verification and criminal background checks, using third party services as appropriate. Although Go-Mechanic may perform Background Checks, 
        Go-Mechanic cannot confirm that any user is who they claim to be, and Go-Mechanic cannot and do not assume any responsibility for the accuracy or reliability of 
        Background Check information.<br><br>

        When interacting with other users, you should exercise caution and common sense to protect your personal safety, data, and property, just as you would when 
        interacting with other persons whom you don’t know. Go-Mechanic will not be liable for any false or misleading statements made by users of the Go-Mechanic Platform.<br><br>
    </p>

<!---------------------------------------------------------------WARRANTY------------------------------------------------------------------------->

    <br>
    <h2>Warranty</h2>
    <p>
        Go-Mechanic is not responsible for the warranty of the repair. Is it the users responsibility to deem then quality of the work and the paperwork for the warranty of the part. <br><br>
        Go-Mechanic is not responsible for lost, theft, or damages to the users or mechanics property. <br><br>
        Users have a period time of 72 hours to complete a claim to obtain a refund if the quality of the work deems to be defective with valid proof.<br><br>
    </p>

<!-------------------------------------------------------BILLING AND PAYMENT--------------------------------------------------------------------------------->

    <br>
    <h2>Billing and Payment</h2>
    <p> Users of the Go-Mechanic Platform contract for repairs directly with other users. Go-Mechanoc will not be a party to any contracts for services. Client, and not Go-Mechanic, 
        is responsible for payment for all services through the Go-Mechanic Platform. Such payment must be made via the payment system on Go-Mechanic. Go-Mechanic is not 
        obligated to compensate the mechanic for the client’s failure to pay for services. <br><br>

        The service charge, and support fee must be paid through the payment system on Go-Mechanic and not a third-party service provider. Clients on the Go-Mechanic 
        Platform will be required to provide their payment method details to Go-Mechanic. Mechanics are responsible for accurately invoicing their clients within 24 hours 
        of the work being performed, even if the service is not completed in its entirety or is designated as “ongoing”. Clients will be responsible for paying the invoice(s) for 
        each service. In addition, a tip or gratuity, as applicable, may be added by the client or at the client’s discretion to the invoice(s), and all such tips or 
        gratuities shall go directly to the mechanic. Clients may also be charged credit card processing fees equal to 3% of the aggregate expense amount if expenses related 
        to a service individually, or servicess in the aggregate over a 30-day period, exceed $300. Mechanics will be responsible for paying:</p>
        <ul>
            <li>&#x2022; Registeration fees.</li><br>
            <li>&#x2022; Repayment of erroneous payments.</li><br>
        </ul>

    <p>
        To help prevent fraud and safeguard user information from the risk of unauthorized access, Go-Mechanic may validate an account before activation and prior to each booking. 
        As part of the validation process, temporary charges placed on the account associated with the user and then refunded within 1-5 business days. This temporary 
        charge may vary depending on the estimated value of the repair/service and expenses.<br><br>

        When client receives confirmation through the Go-Mechanic Platform or via email that a repair/service has been completed, client automatically authorizes the payment systewm 
        to process the invoice(s). <br><br>

        Go-Mechanic reserves the right (but not the obligation) upon request from client or mechanic, or upon notice of any potential fraud, unauthorized charges 
        or other misuse of the Go-Mechanic Platform, to place a hold any users payment and/or account. <br><br>

        In certain jurisdictions, applicable rules may require that we collect or report tax and/or revenue information about you. You agree that Go-Mechanic may issue
         on your behalf receipts or similar documentation to facilitate accurate tax reporting.<br><br>
    </p>

<!--------------------------------------------------------------DEACTIVATION OR SUSPENSION--------------------------------------------------------------------------------->

    <br>
    <h2>Deactivation or Suspension</h2>
    <p>
        Go-Mechanic may suspend your right to use the Go-Mechanic Platform pending its investigation of a potential breach by you of this Agreement. Go-Mechanic may deactivate 
        your account or limit your use of the Go-Mechanic Platform upon its determination that you breached a provision of this Agreement (a “User reach” ). Go-Mechanic 
        will provide you with written notice of its determination as required by law, unless we have reason to believe the user’s account has been compromised such that 
        the notice would go to the wrong person, or notice would otherwise be counterproductive or would create a risk to safety. If you wish to appeal this determination, 
        please <a target="_blank" href="contact-us">contact us</a> within 14 days of receipt of such notice with the grounds for your appeal. <br><br>

        If Go-Mechanic suspends or deactivates your account or limits your use of the Go-Mechanic Platform, you are thereafter prohibited from registering and creating a new 
        account under your name or business name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party.<br><br>
        
        Even after your right to use the Go-Mechanic Platform is suspended, terminated or limited, this Agreement will remain enforceable against you. Go-Mechanic reserves 
        the right to take appropriate legal action pursuant to the Agreement. <br><br>
        
        Go-Mechanic reserves the right to modify or discontinue, temporarily or permanently, all or any portion of the Go-Mechanic Platform at its sole discretion. 
        Go-Mechanic will provide you with notice of any such modification or discontinuation as required by law. To the extent permitted by law, Go-Mechanic shall not 
        be liable to you for any modification or discontinuance of all or any portion of the Go-Mechanic Platform. Go-Mechanic has the right to restrict anyone from 
        completing registration as a mechanic if such person may threaten the safety and integrity of the Go-Mechanic Platform, or if such restriction is necessary to address 
        any other reasonable business concern. <br><br>
        
        You may terminate this Agreement at any time by ceasing all use of the Go-Mechanic Platform and deactivating your account.<br><br>
    </p>

<!--------------------------------------------------------------GO MECHANIC ACCOUNT AND ACCOUNT SECURITY------------------------------------------------------------------------------>
    
    <br>
    <h2>Go-Mechanic Account and Account Security</h2>
    <p>
        You must register with Go-Mechanic and create an account to use the Go-Mechanic Platform. You are responsible for maintaining the confidentiality of any email and password
         provided by you or given to you by Go-Mechanic for accessing the Go-Mechanic Platform. You are solely and fully responsible for all activities that occur under your 
         password or account, even if not authorized by you. Go-Mechanic has no control over the use of any user’s account and expressly disclaims any liability derived therefrom. 
         Should you suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you agree to notify Go-Mechanic immediately.<br><br>

        You acknowledge that telephone calls to or from Go-Mechanic, together with its agents, may be monitored and recorded for the purposes of quality control and training.<br><br>
    </p>

<!-------------------------------------------------------------------CONTACT US-------------------------------------------------------------------------------->
    
    <br>
    <h2>Contact Us</h2>
    <p>If you have any questions about this <a target="_blank" href="/terms">Terms of Service</a> or the manner in which we ohave served you, or  
         your dealings with the Go-Mechanic Platform, or if you have technical problems, you may <a target="_blank" href="contact-us">contact us</a>.<br><br>

        Go-Mechanic staff will respond to all mail or email from users with questions regarding your user experience.</p>
</div>