<footer class="footer  mx-0 px-0 pb-0 pt-2">
  <nav class="content fixed-bottom navbar-light has-background-grey-lighter mt-4">
    <div class="footer has-text-centered has-background-grey-lighter mt-4">
      <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="homepage.component.html">Home</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="aboutpage.component.html">About</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="contactpage.component.html">Contact Us</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="loginpage.component.html">Login</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="reportissuepage.component.html">Report an issue</a>
            </code>
            <br>
          </p>
        </div>
      </div>
      <p>Copyright @{{currentDate | date: 'y'}}. All
        Rights Reserved</p>
    </div>
  </nav>
</footer>
