<footer class="footer mx-0 px-0 pb-0 pt-2">
  <nav class="content fixed-bottom navbar-light has-background-grey-lighter mt-4">
    <div class="footer has-text-centered has-background-grey-lighter mt-4 is-size-5">
      <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="home">Home</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="about">About</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="contact-us">Contact Us</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="/login">Login</a>
            </code>
            <br>
          </p>
        </div>
        <div class="column is-narrow">
          <p class="bd-notification is-primary">
            <code class="html has-background-grey-lighter">
              <a href="report-issue">Report an issue</a>
            </code>
            <br>
          </p>
        </div>
      </div>

      <div class="content is-size-7">
        <p>Copyright @{{currentDate | date: 'y'}}. All
          Rights Reserved</p>
      </div>
    </div>
  </nav>
</footer>
