/* mat-sidenav spans the entire background left side of the menu on the My Account page - Anthony */

mat-sidenav {
    margin: 16px;
    width: 210px;
    border-right: none;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
    
}

.menu-content{
    display: inline;
} 

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    
}

.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
}
.profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
}

mat-icon{
    margin-right: 8px;
}

.name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    width: 200px;
    top: 0;
    bottom: 0;
    padding: 30px;
}
  
  /* .content {
    display: inline-block;
  } */

.menu-content {
    display: none;
    }

    .is-active {
        display: block;
}


