/* mat-sidenav spans the entire background left side of the menu on the My Account page - Anthony */

/* Section left out after sidnav organization modified, save for future use -Jim
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

}

mat-icon{
    margin-right: 8px;
}

.name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
} */

/*
**DO NOT ADD .menu, will break the organization of the page -Jim**
.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    padding: 30px;
}*/

/*
.content {
    display: inline-block;
  } */


  .is-widescreen{
    position: sticky;
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden !important;
    top: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    margin-top: 10px;
}

mat-drawer{
    max-height: 45vh;
    margin-top: 10px;
}

mat-drawer-content{
    min-height: 45vh;
    margin-top: -20px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.034);
}

.menu{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.menu-content {
    display: none;
    margin: 5px;
    }

    .is-active {
        display: block;
}
  
.menu-content{
    display: flex;
} 

.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
}

.profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
}

mat-form-field{
    margin-right: 50px;
    margin-left: 50px;
}
