/* mat-sidenav spans the entire background left side of the menu on the My Account page - Anthony */

/* Section left out after sidnav organization modified, save for future use -Jim
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

}

mat-icon{
    margin-right: 8px;
}

.name{
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
} */

/*
**DO NOT ADD .menu, will break the organization of the page -Jim**
.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    padding: 30px;
}*/

/*
.content {
    display: inline-block;
  } */


  .is-widescreen{
    position: sticky;
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden !important;
    top: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    margin-top: 10px;
}

mat-drawer{
    max-height: 45vh;
    margin-top: 10px;
}

mat-drawer-content{
    min-height: 45vh;
    margin-top: -20px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.034);
}

.menu{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.menu-content {
    display: none;
    margin: 5px;
    }

    .is-active {
        display: block;
}
  
.menu-content{
    display: flex;
} 

.profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
}

.profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
}

mat-form-field{
    margin-right: 50px;
    margin-left: 50px;
}



.our-team {
    padding: 50px 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #e2dbc8;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #6c6e709d;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  

